<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Villa" asp-action="Index">Villa</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="VillaNumber" asp-action="Index">VillaNumber</a>
                </li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Amenity" asp-action="Index">Amenity</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
        </li>
    </ul>
</div>