@model SignUpViewModel
<div class="container pt-5">
    <div class="card shadow border">
        <div class="card-header bg-success bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-black">Register</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pt-3">
                <div class="col-md-12">
                    <form action="post">
                        <input asp-for="RedirecURL" hidden/>
                        <div class="form-floating mb-3 col-md-12">
                            <input class="form-control" aria-required="true" asp-for="Email">
                            <label class="ms-2 text-muted" asp-for="Email"></label>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input class="form-control" asp-for="Name" />
                            <label class="ms-2 text-muted" asp-for="Name"></label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input class="form-control" asp-for="PhoneNumber" />
                            <label class="ms-2 text-muted" asp-for="PhoneNumber"></label>
                            
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input class="form-control" asp-for="Password"/>
                            <label class="ms-2 text-muted" asp-for="Password"></label>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <input class="form-control" asp-for="ConfirmPassword"/>
                            <label class="ms-2 text-muted" asp-for="ConfirmPassword"></label>
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="form-floating mb-3 col-md-12">
                            <select class="form-select" asp-for="Role" asp-items="@Model.RoleList">
                                <option disabled selected>--Select Role--</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="w-100 btn btn-lg btn-outline-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}