@model VillaProject.Domain.Entities.Villa

<div>
    <h1>Create New Villa</h1>
</div>
<div>
    <form method="post" class="row">
        <div class="p-3">
            <div asp-validation-summary ="ModelOnly"></div>
            <div class="form-floating py-1 col-12">
                <input asp-for="VillaName" class="form-control border shadow" />
                <label asp-for="VillaName" class="ms-2" />
                <span asp-asp-validation-for="VillaName" class="text-danger"></span>
            </div>
        </div>
        <div class="p-3">
            <div class="form-floating py-1 col-12">
                <input asp-for="Description" class="form-control border shadow" />
                <label asp-for="Description" class="ms-2" />
                <span asp-asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="p-3">
            <div class="form-floating py-1 col-12">
                <input asp-for="Price" class="form-control border shadow" />
                <label asp-for="Price" class="ms-2" />
                <span asp-asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="p-3">
            <div class="form-floating py-1 col-12">
                <input asp-for="Occupancy" class="form-control border shadow" />
                <label asp-for="Occupancy" class="ms-2" />
                <span asp-asp-validation-for="Occupancy" class="text-danger"></span>
            </div>
        </div>
        <div class="p-3">
            <div class="form-floating py-1 col-12">
                <input asp-for="ImageUrl" class="form-control border shadow" />
                <label asp-for="ImageUrl" class="ms-2" />
                <span asp-asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-success w-100">Create</button>
            </div>
        </div>
    </form>
</div>