@model IEnumerable<VillaProject.Domain.Entities.Villa>

<table class = "table">
    <thead>
        <tr>
            <th>VillaName</th>
            <th>Price</th>
            <th>Description</th>
            <th>Occupancy</th>
        </tr>
    </thead>
    <tbody> 
        @foreach(var value in Model){
            <tr>
                <td>@value.VillaName</td>
                <td>@value.Price</td>
                <td>@value.Description</td>
                <td>@value.Occupancy</td>
            </tr>
        }
    </tbody>
</table>